@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #ccf783;
  --selected-color: rgba(47, 128, 47, 0.66);
  --main-color: #101010;
  --border-general: 2px solid #bbb;
  --border-menu-items: 1px solid #bbb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 20% 1fr;
  color: var(--main-color);
  overflow: hidden;
}

body > main {
  overflow-y: scroll;
}

aside {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  padding-top: 80px;
  transition: all 200ms;
}

aside header {
  width: 100%;
  font-size: 2vw;
  text-align: center;
  line-height: 3;
  border-bottom: var(--border-general);
  user-select: none;
  --webkit-user-select: none;
  position: absolute;
  height: 80px;
  top: 0;
}
aside header img {
  width: 90px;
}

aside .menu .menu-title {
  font-size: 1.5vw;
  text-align: center;
  line-height: 2.75;
  font-weight: 400;
  border-bottom: var(--border-menu-items);
  width: 100%;
  user-select: none;
  --webkit-user-select: none;
}

aside .menu .menu-items {
  height: 20vw;
  display: grid;
}

aside .menu .menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5vw;
  border-bottom: var(--border-menu-items);
  padding: 0.5vw 2vw;
  cursor: pointer;
  user-select: none;
  --webkit-user-select: none;
  color: black;
  text-decoration: none;
}

aside .menu .menu-item.selected {
  background-color: var(--selected-color);
  color: white;
}

/* aside .menu .menu-item#today .menu-item-logo {
  position: relative;
} */

/* aside .menu .menu-item#today .menu-item-logo::after {
  content: "19";
  position: absolute;
  top: 9px;
  left: 4px;
  font-size: 15px;
} */

aside footer {
  bottom: 0;
  margin-top: auto;
  padding: 2rem;
}

aside footer .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

aside footer .stars .star {
  cursor: pointer;
}
aside footer .stars .star.shadow {
  opacity: 0.7;
}

.home-page {
  background-color: white;
  display: grid;
  place-items: center;
  width: 77vw;
  margin: calc(3vw / 2) auto;
  grid-template-rows: max-content;
  padding-top: 9vw;
}

.home-page .main_title {
  font-size: 5vw;
}

.home-page .main_sub-title {
  font-size: 4vw;
  font-weight: 400;
  padding: 0 9vw;
  text-align: center;
}

.home-page .heart {
  font-size: 9vw;
}

main .task {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 10px 0;
  align-items: center;
}

main .task .task-text {
  margin-left: 5px;
  margin-right: 100px;

  flex-grow: 1;
}

main .task.done .task-text {
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.69);
}

main .task .task-text input {
  display: block;
  outline: 0;
  border: 0;
  font-size: inherit;
  min-width: 100px;
  width: 100%;
}

main .task .task-text input:disabled {
  background-color: white;
}
nav .hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  body {
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow-y: auto;
  }
  aside {
    /* display: none; */
    position: absolute;
    z-index: 99;
    padding-top: 60px;
    width: 180px;
  }
  aside.hide {
    margin-left: -900px;
  }

  .home-page {
    width: 95vw;
    height: 96%;
    margin-top: 15px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
  }
  nav .hamburger {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 24px;
  }

  .home-page .main_title {
    font-size: 5vh;
  }

  .home-page .main_sub-title {
    font-size: 4vh;
  }

  .home-page .heart {
    font-size: 9vh;
  }

  aside header {
    font-size: 2vh;
    line-height: 3;
    height: 60px;
    top: 0;
  }

  aside header img {
    width: 70px;
  }

  aside .menu .menu-title {
    font-size: 2vh;
    text-align: center;
    line-height: 2.75;
    font-weight: 500;
  }

  aside .menu .menu-items {
    height: 20vh;
    display: grid;
  }

  aside .menu .menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5vh;
    border-bottom: var(--border-menu-items);
    padding: 0.5vw 2vh;
    cursor: pointer;
    user-select: none;
    --webkit-user-select: none;
    color: black;
    text-decoration: none;
  }

  aside .menu .menu-item.selected {
    background-color: var(--selected-color);
    color: white;
  }
}
