.today_main {
  background-color: white;
  width: 77vw;
  height: 93vh;
  margin: calc(3vw / 2) auto;
  overflow-x: hidden;
}
.today_main .today_nav {
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  font-size: 30px !important;
  margin: 0 10px 30px 10px;
  position: sticky;
  top: 0;
  background-color: white;
}

.today_main .today_nav .today_nav-go_back {
  position: absolute;
  top: 30px;
  left: 20px;
  color: black;
}

.today_main .today_nav .today_nav_title {
  font-size: 30px !important;
}

.today_main .today_nav .today_sub-title {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  margin-top: 20px;
}

.today_main .today_tasks {
  margin-left: 70px;
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .today_main {
    width: 95vw;
    height: 96%;
    margin-top: 15px;
    margin-left: 9px;
  }
  .today_main .today_nav {
    font-size: 24px !important;
  }

  .today_main .today_nav .today_nav_title {
    font-size: 24px !important;
  }

  .today_main .today_nav .today_sub-title {
    font-size: 22px;
    margin-top: 10px;
  }

  .today_main .today_tasks {
    margin-left: 20px;
    font-size: 20px;
  }

  .today_main .today_tasks .today_task {
    width: 100%;
  }
  .today_main .today_tasks .today_task .task-text input {
    min-width: 100px;
    width: 90%;
    cursor: pointer;
  }
}
